<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>905883634541-60irbombtgb3rnqcon7p7kajudlki5sc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.905883634541-60irbombtgb3rnqcon7p7kajudlki5sc</string>
	<key>API_KEY</key>
	<string>AIzaSyDIb85RIvI_muLbs6rdXp1xtY9U8Bk3duo</string>
	<key>GCM_SENDER_ID</key>
	<string>905883634541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sportfolios.sportfoliosAlpha</string>
	<key>PROJECT_ID</key>
	<string>sportfolios-431c6</string>
	<key>STORAGE_BUCKET</key>
	<string>sportfolios-431c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905883634541:ios:2c71fa929eb73b61106864</string>
</dict>
</plist>